/**

font-family: 'Josefin Sans', 'sans-serif', 'Arial', 'Tahoma', 'Veranda';
font-family: 'Source Code Pro', 'monospace', 'Arial', 'Tahoma', 'Veranda';;

**/

html{
  font-size: 16px;
}

body{
  font-family: 'Josefin Sans', 'sans-serif', 'Arial', 'Tahoma', 'Veranda';
}

.container__sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  text-align: center;
  background-color: lightgray;
  border-right: .1rem solid darkblue;
  display: block !important;
}

.container__sidebar--sticky{
  position: sticky;
}

.container__sidebar__header__image{
  border-radius: 30%;
  margin-bottom: .9rem;
}

ul{
  padding-inline-start: 0;
}

.container__sidebar__menu{
  margin-top: 2rem;
  font-size: 1.2rem;
  list-style-type: none !important;
}

.container__sidebar__menu li{
  margin-top: 1rem;
  cursor: pointer;
}

.container__sidebar__menu li:hover{
  color:darkblue;
  text-decoration: underline;
}

.container__sidebar__contacts__menu{
  list-style-type: none;
}

.container__sidebar__contacts__menu li{
  display: inline;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  cursor: pointer;
}

.container__sidebar__contacts__menu li:hover{
  color:darkblue;
  text-decoration: underline;
}

.container__sidebar__contacts{
  margin-top: 2rem;
}

.container__content{
  padding-top: 2rem;
}

.row--buffer{
  margin-top: 2rem;
}

.card__image{
  object-fit: contain;
}

.card-body--background{
  border-top: .1rem solid darkblue;
  background-color: lightgray;
}
