/**
font-family: 'Josefin Sans', 'sans-serif', 'Arial', 'Tahoma', 'Veranda';
font-family: 'Source Code Pro', 'monospace', 'Arial', 'Tahoma', 'Veranda';;
color palette
ghost white - #fafbfd
glitter - #e8ecf2
blue - #256eff
white - #ffffff
**/
body, html {
  height: 100%;
  font-family: 'Josefin Sans', 'sans-serif', 'Arial', 'Tahoma', 'Veranda';

}

aside{
  font-size:1.2rem;
  background-color: #e8ecf2;
}

.navbar--light{
  background-color: #e8ecf2 !important;
  color: #000000;
}

.navbar__nav-item__headShot{
  max-width: 65%;
  height: auto;
  border-radius: 50%;
}

.nav-link{
  color: black;
}

.nav-link:hover{
  color: #256eff !important;
}

.nav-item a.nav-link:hover{
  color: #256eff;
  cursor: pointer;
}

.modalLink, .siteLink{
  cursor: pointer;
}

.nav-item--inline, .nav-link--inline{
  display: inline !important;
  padding: 0 .4rem 0 0 !important;
}

.row--section{
  margin-top: 4rem;
}

.row--buffer{
  margin-top: 2rem;
}

.card-title__button{
  float:right;
  cursor: pointer;
}

.card-title__button:hover{
  color: #256eff;
  cursor: pointer;
}

.nav-item--buffer{
  margin-top: 1.5rem;
}

.nav-item--center{
  text-align: center;
  margin-bottom: 1.5rem;
}

.navbar__top{
  float: right;
  background-color: #256eff;
  color: #ffffff;
  width: 100%;
}

.nav-link--white{
  color: #ffffff !important;
}

.nav-link--white:hover{
  text-decoration: underline !important;
  color: #ffffff !important;
}

.contact__list{
  list-style-type:none;
  padding-inline-start:0;
  padding:.5rem .2rem 1rem;
}

.top__menu
{
  float: right;
}

.contactMe{
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.skill{
  text-align: center;
  margin-bottom: 1.3rem;
}

.company__logo{
  max-height: 100px;
  margin-right: 1rem;
  display: table-cell;
  text-align: center;
  margin:0 auto;
}

.card{
  margin-bottom: 1.5rem;
}



.navbar--center{
  text-align: center;
}

.menu--left{
  text-align: left;
}

@media (min-width: 768px) {
  aside {
      height: 100%;
  }
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  aside {
      border-right: none;
  }

  .navbar__nav-item__headShot, .contactMe, .card-text, .side__item{
    display: none;
  }

  .card-title{
    font-size: .8rem;
  }

  .card-title__button{
    font-size: 1rem !important;
  }

  .nav-item--buffer{
    margin-top: 0;
  }

  body{
    padding-top: 5rem;
  }

  .hamburger, .navbar-toggler {
    display: inline !important;
  }
}

.body--padded{
  padding-top: 8rem;
}

.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 32rem;
  min-width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-image: none;
  font-size: 2rem;
  font-weight: bold;
}

.carousel-control-next-icon:after
{
  content: '>';
  color: #256eff;
}

.carousel-control-prev-icon:after {
  content: '<';
  color: #256eff;
}

.carousel-indicators li{
  background-color: #256eff !important;
}

.image__credit{
  font-size: .75rem !important;
  color:#256eff;
}

.page__title{
  margin-left: 1rem;
  color: #256eff;
}

