/**
font-family: 'Josefin Sans', 'sans-serif', 'Arial', 'Tahoma', 'Veranda';
font-family: 'Source Code Pro', 'monospace', 'Arial', 'Tahoma', 'Veranda';;
color palette
ghost white - #fafbfd
glitter - #e8ecf2
blue - #256eff
white - #ffffff
**/
body, html {
  height: 100%;
  font-family: 'Josefin Sans', 'sans-serif', 'Arial', 'Tahoma', 'Veranda';

}

aside{
  font-size:1.2rem;
  background-color: #e8ecf2;
}

.navbar__nav-item__headShot{
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom:1.3rem;
}

.nav-link{
  color: black;
}

.nav-item a.nav-link:hover{
  color: #256eff;
  cursor: pointer;
}

.nav-item--inline, .nav-link--inline{
  display: inline !important;
}
.row--buffer{
  margin-top: 2rem;
}

.card-title__button{
  float:right;
}

.nav-item--buffer{
  margin-top: 1.5rem;
}

.navbar__top{
  float: right;
  background-color: #256eff;
  color: #ffffff;
  width: 30%;
}

.nav-link--white{
  color: #ffffff !important;
}

.nav-link--white:hover{
  text-decoration: underline;
}

.contact__list{
  list-style-type:none;
  padding-inline-start:0;
  padding:.5rem .2rem 1rem;
}

.top__menu
{
  float: right;
}

@media (min-width: 768px) {
  aside {
      height: 100%;
      border-right: .1rem solid #256eff;
  }
  .hamburger {
    display: none;
  }
}

@media (max-width: 768px) {
  aside {
      border-right: none;
      border-bottom: .1rem solid #256eff;
  }

  .navbar__nav-item__headShot, .contactme, .card-text, .side__item{
    display: none;
  }

  .card-title{
    font-size: .8rem;
  }

  .nav-item--buffer{
    margin-top: 0;
  }

  body{
    padding-top: 5rem;
  }

  .hamburger, .navbar-toggler {
    display: inline !important;
  }
}

